

body {

    background-color: #3bb78f, ;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
}

div.signin_option.hide{
    display:none;
    colo
    
}

div.signin_form.hide{
    display: none;
}

